{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'Ecomm\css\aboutUs.css' %}">
{% endblock %}


<div class=" aboutUsDiv text-white">
    <div class="row container">
        <div class="col-lg-4 text-md-center mt-md-5 abouUShead my-3">
            <h1 class="d-inline d-md-block"><strong>ABOUT </strong></h1>
            <h1 class="d-inline"><strong>US</strong></h1>
        </div>


        <div class="col-lg-8 aboutUsContent px-md-5 mb-3">
            <strong>
                <p>
                    Innovative Upshot is not a department it’s a quality.
                </p>
                <p>
                    Our culture supports independent thinking and
                    innovations. The seekers, creators and mischief makers who are changing the way innovation is
                    done. We are a full-service creative company activating consumer passion to inspire brand
                    participation.
                </p>
                <p>
                    We believe in only sourcing the best and innovative products one can ever have and
                    we're looking forward to provide the best quality to our customers or clients because you're the
                    only person that can trust us and help us to grow our business by providing us your positive and
                    valuable reviews.
                </p>
            </strong>


        </div>
    </div>
</div>