{% load static %}
<style>
    .imgsOn {
        color: #fff;
        background-image: url("{% static 'Ecomm/images/ledon.jpeg' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imgs {
        color: #fff;
        background-image: url("{% static 'Ecomm/images/ledOff.jpg' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="slider">
    <div class="img-container d-flex">

        <div>
            <h1 class="imgs">1</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>

        <div>
            <h1 class="imgs">2</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">3</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">4</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">5</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">6</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">7</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">8</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">9</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">10</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
        <div>
            <h1 class="imgs">11</h1>
            <h1 class="imgsOn d-none">ON</h1>
        </div>
    </div>
</div>