{% load static %}
<div class="d-md-flex justify-content-around my-5 ">
    <div class="d-flex flex-column newProductDiv mx-auto my-5 my-md-0">

        <video autoplay muted loop>
            <source src="{% static 'Ecomm/videos/sampleVideo01.mp4' %}" type="video/mp4">
        </video>

        <div class="bg-dark text-white p-3 newProdDetail">
            <h2>ProductName</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam architecto, inventore id odio officia
                adipisci
                voluptatem alias cumque eaque at temporibus quibusdam magni quas nemo delectus quos modi itaque soluta!
            </p>
        </div>
    </div>

    <div class="d-flex flex-column newProductDiv mx-auto my-5 my-md-0">
        <video autoplay muted loop>
            <source src="{% static 'Ecomm/videos/sampleVideo01.mp4' %}" type="video/mp4">
        </video>

        <div class="bg-dark text-white p-3 newProdDetail">
            <h2>ProductName</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam architecto, inventore id odio officia
                adipisci
                voluptatem alias cumque eaque at temporibus quibusdam magni quas nemo delectus quos modi itaque soluta!
            </p>
        </div>
    </div>

</div>